@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:ital@0;1&display=swap');
#greener{
  color: rgb(0, 240, 0);
}
.textanimate1{
  opacity: 1;
    transition: all ease-in 1s;
}